.container
{
    background-image: linear-gradient(to right,rgb(61, 61, 96) ,rgb(75, 192, 238));
    margin-top:100px;

}  
.card
{
    padding:50px;
    margin-top:40px;
    margin-bottom:40px;
    /* border-radius: 40px; */
}
.card-title.head {
    color: gray;
    text-align: center;
    /* border-bottom: 2px underline red; */
  }
  
  h2{
    text-align: center; 
    
  }
  
  .card-body h2 {
    border-bottom: 1px dotted black;
    padding-bottom: 15px; 
  }
  
 .btn.button
 {
   width:250px;
   border-radius:30px;
   background-color: skyblue;
   color:white;
 }